<div class="monitoramento">
    <h1>Monitoramento</h1>
    <div class="painel">
        <mat-card class="card-info" *ngFor="let item of listaMonitoramento"> 
            <div [ngClass]="{
                'borda-sinalizacao-critica': item.quantidadeEmEspera > 10,
                'borda-sinalizacao-alerta': item.quantidadeEmEspera > 5 && item.quantidadeEmEspera <= 10,
                    'borda-sinalizacao-normal': item.quantidadeEmEspera <= 5
                }">
                    <div class="live-indicator"></div>
                <mat-card-header>
                    <mat-card-title> {{ item.especialidade }}  </mat-card-title>
                    <mat-card-subtitle>Pacientes esperando atendiemento clínico</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="info-numerica">{{ item.quantidadeEmEspera }}</p>
                </mat-card-content>
            </div>
        </mat-card>
    </div>
</div>